.title {
  font-size: 36px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #73ff00, #00a86b);
  line-height: 4.4rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: url("/contact.png") no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.form {
  flex: 2;
  padding: 3rem;
  background-color: #000000e3;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-family: monospace;
}

.textBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
